{
  "dev": {
    "REACT_APP_CLIENT_ID": "",
    "REACT_APP_AUTHORITY": "",
    "REACT_APP_REDIRECT_URI": "",
    "REACT_APP_GOOGLE_MAP_API_KEY": "",
    "REACT_APP_BATTERY_API_URL": "",
    "REACT_APP_OCP_APIM_SUBS_KEY": "",
    "REACT_APP_SCOPE": ""
  },
  "prod": {
    "REACT_APP_CLIENT_ID": "",
    "REACT_APP_AUTHORITY": "",
    "REACT_APP_REDIRECT_URI": "",
    "REACT_APP_GOOGLE_MAP_API_KEY": "",
    "REACT_APP_BATTERY_API_URL": "",
    "REACT_APP_OCP_APIM_SUBS_KEY": "",
    "REACT_APP_SCOPE": ""
  }
}